html,
body {
  padding-top: 28px;
  padding-bottom: -28px;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

  background-image: -moz-linear-gradient(180deg, rgb(194, 249, 255), rgb(163, 200, 255));
  background-image: -webkit-linear-gradient(180deg, rgb(194, 249, 255), rgb(163, 200, 255));
  background-image: linear-gradient(180deg, rgb(194, 249, 255), rgb(163, 200, 255));
  
  background-size: cover;

  min-height: 100%;

}

main{
  flex:1;
}

footer{
  flex-shrink: 0;
}

a {
  color: #3b19ff;
  text-decoration:underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* p{
  text-indent: 50px;
} */
name{
  margin: 30px;
}

h1,
h2,
p,
ul {
  margin: 30px;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

